.Layout_container{
    height: 400px;
    width: 94%;
    margin:80px 0px 3% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Layout_text{
    margin-left: 80px;
   
}

.Layout_image{
    height: 100%;
   
  }

  .Layout_image img{
    height: 70%;
   margin-top: 15%;
    
}