.Navbar_wrapper{
height: 60px;
width: 100%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.Navbar_container{
    height: 100%;
    width: 94%;
    margin:0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Navbar_logo{
    font-weight: 900;
    font-size: 22px;
}

.Navbar_Links{
    display: flex;
    list-style: none;
    
}

.Navbar_Links li{
    margin: 0px 10px;
}

.Navbar_button{
    background-color: var(--color_blue_9);
    color: var(--color_white_1);
    min-width:160px;
    min-height: 26px;
    text-align: center;
    cursor: pointer;
}
